body {
    color: #000000;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 14px;
}

#stuff_form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
    width:30%;
}

input,
textarea,
select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    vertical-align: middle;

}

output {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    vertical-align: top;
}

input{
    width: 100%;
}
select {
    width: 105%;
}

.textarea {
    width: 100%;
}

textarea {
    width: 100%;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px;
}

legend {
    font-size: 16px;
    color: #767272;
}

.form-row {
    display: block;
    padding: 10px;
}

label {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding-right: 40px;
}



.range {
    width: 150px;
}

.btns {
    text-align: center;
}

.form_btn {
    background: #2c3e50;
    color: #fff;
    width: 100px;
    margin: 5px;
}
.hidden{
    display:none;
}

.stuff_form_error{
    color:red;
    margin:10px;
}

.popup{
    padding:5px 15px 15px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:none;
    overflow:hidden;
    border:1px solid #ccc;
    background:#fff;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    z-index:2;
    font-size:16px;
    font-weight: 400;
    text-align: center;
}

.stuff_form_popup{
    width:250px;

}

#overlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    background:#000;
    opacity:.8;
    z-index:1;
}